body {
    background-image: url('https://i.pinimg.com/originals/50/89/a9/5089a9a36884bb90e14312d3af951317.gif');
  }

.content {
  text-align: center; position: relative;top: 20px;
}

.itc-image {
  height: 400px;; width: 500px;
}

.iitb-image {
  height: 400px; width: 500px;position:relative;left: 300px;
}
